<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Test App</title>
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/animate.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/responsive.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
	<script src="/js/modernizr.js"></script>
	<!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <!-- ====================================================
	header section -->
	<header class="top-header">
		<div class="container">
			<div class="row">
				<!-- nav starts here -->
				<div class="col-md-12">
					<nav class="navbar navbar-default">
						<div class="container-fluid nav-bar">
						    <div class="navbar-header">
						      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>
						      <a href="index.html"><img src="/img/logo.png" alt="" class="img-responsive logo"></a>
						    </div>
						    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						      <ul class="nav navbar-nav navbar-right">
						        <li><a href="/#home" data-id="#home">Home</a></li>
						        <li><a href="/#features" data-id="#features">Features</a></li>
                    {# Our Meteor app URL can be anything, because our Meteor app 
                      has no routes of its own. No 'not-found' route. #}
						        <li><a href="/todo-app" title="Meteor app">ToDo App</a></li>
						        <li><a href="/about">About</a></li>
						      </ul>
						    </div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header><!-- end of header section -->

	<!-- banner section starts here -->
	<section class="banner" id="home">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 wow fadeInLeft animated">
					<h3>introducing lucid theme</h3>
					<h1>Carefully crafted and beautiful landing page.</h1>
					<p>Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, at elementum magna ultricies accumsan. Cras venenatis lacus sed dolor placerat tempus. Morbi blandit at neque ut imperdiet.</p>
					<button class="download-btn">download now</button>
					<button class="features-btn">view features</button>
				</div>
				<div class="col-xs-6 banner-img wow fadeInRight animated">
					<img class="img-responsive" src="/img/verticle-phone.png" alt="">
				</div>
			</div>
		</div>
	</section><!-- end of banner section -->

  {% block upper_section %}
  {% endblock %}

	<!-- details section -->
	<section class="details" id="about">
		<div class="container">
      {% block content %}
      {% endblock %}
		</div>
	</section><!-- end of details section -->

  {% block bottom_section %}
  {% endblock %}

	<!-- footer starts here -->
	<footer class="footer text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="icons">
						<a href=""><i class="fa fa-behance"></i></a>
						<a href=""><i class="fa fa-dribbble"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-linkedin"></i></a>
					</div>
					<p>COPYRIGHT &copy; 2016 <a href="#">Mostafizur Rahman</a></p>
				</div>
			</div>
		</div>
	</footer>

    <script src="/js/jquery-2.1.1.js"></script>
  	<script src="/js/bootstrap.min.js"></script>
  	<script src="/js/smoothscroll.js"></script>
  	<script src="/js/custom.js"></script>
  	<script src="/js/wow.js"></script>

</body>
</html>
