{% extends "base.njk" %}

{% block upper_section %}
  <!-- feature section -->
  <section class="features text-center" id="features">
    <div class="container">
      <div class="row">
        <h4>product overview</h4>
        <h2>List of amazing features</h2>
        <img class="img-responsive" src="/img/daag.png" alt="">
        <div class="col-md-3 wow zoomIn animated">
          <i class="fa fa-desktop"></i>
          <h3>Responsive</h3>
          <p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
        </div>
        <div class="col-md-3 wow zoomIn animated">
          <i class="fa fa-cog"></i>
          <h3>Customizable</h3>
          <p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
        </div>
        <div class="col-md-3 wow zoomIn animated">
          <i class="fa fa-facebook"></i>
          <h3>Lovely design</h3>
          <p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
        </div>
        <div class="col-md-3 wow zoomIn animated">
          <i class="fa fa-mobile"></i>
          <h3>Mobile Friendly</h3>
          <p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
        </div>
      </div>
    </div>
  </section><!-- end of features section -->
{% endblock %}

{% block bottom_section %}
  <!-- features details section -->
  <section class="feature-detail">
    <div class="container">
      <div class="row">
        <div class="col-xs-5 wow fadeInLeft animated">
          <h4>dip into the details</h4>
          <h2>Super easy to customize</h2>
          <img src="/img/daag.png" alt="">
          <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
        <div class="col-xs-7 horizontal-phone wow fadeInRight animated">
          <img class="img-responsive" src="/img/laid-phone2.png" alt="phone">
        </div>
      </div>
    </div>
  </section><!-- end of features-detail section -->

  	<!-- find section -->
  	<section class="download">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-8 col-sm-8">
  					<p><span>Like what you see? </span>Get this great theme now!</p>
  				</div>
  				<div class="col-md-4 col-sm-4">
  					<button class="features-btn">view features</button>
  					<button class="download-btn">download now</button>
  				</div>
  			</div>
  		</div>
  	</section><!-- end of find section -->
{% endblock %}
